body {
    font-family: "Playfair Display", serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue" , Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #000000;
    border: 5px solid #36282E;
    margin: 0;
}

hr {
    border-color: #AB013A;
}

.nav-link {
    color: #000000;
    font-weight: bold;
}

.nav-link:hover {
    color: #000000;
    border-bottom: 3px solid #AB013A;
}

.hero {
    background-color: rgba(245, 222, 227, 0.1);
    padding-top: 2em;
    padding-bottom: 2em;
}

.hero-text {
    opacity:0;
    position:relative;
    bottom:-50px;
    transition: opacity .5s .25s, bottom .5s .25s;
}

.hero-text.is-visible { 
    bottom:0px;
    opacity:1;
}

.hero h1 {
    font-size: 3em;
}

.smiley {
    display: inline;
    position: relative;
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
}

.highlight {
    color: #AB013A;
}

.underline {
    text-decoration: underline;
}

.hero p {
    font-size: 1em;
}

.hero-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity .5s .50s ease-out;
}

.hero-image.is-visible {
    opacity: 1;
}

.heading.is-visible {
    position: relative;
    -webkit-animation: slideInDown .3s .30s ease-out;
    -moz-animation: slideInDown .3s .30s ease-out;
    -o-animation: slideInDown .3s .30s ease-out;
    animation: slideInDown .3s .30s ease-out;
}

.language-pills li {
    display: inline-block;
    border-right: 3px double #AB013A;
    padding: 0.4em;
    margin-bottom: 5px;
}

.language-pills li:last-of-type {
    border: none;
}

.language-pills {
    list-style: none;
    padding-left: 0;
}

.btn-outline-pink {
    border: 1px solid #AB013A;
}

.btn-outline-pink:hover {
    background: #AB013A;
    color: #FFFFFF;
}

.double-line-span {
    color: #AB013A;
}

.card-text.stack-list {
    height: 50px;
}

.card-text.description {
    height: 100px;
}

.portfolio-item-details {
    position: relative;
    opacity: 0;
    bottom: -25px;
    transition: opacity .5s .50s, bottom .5s .50s;
}

.portfolio-item-details.is-visible { 
    bottom: 0px;
    opacity: 1;
}

footer {
    border: 1px solid #E8E6E7;
    background-color: rgba(213, 207, 209, 0.3);
}

footer p {
    font-weight: 600;
}

@keyframes slideInDown {
    0% {
        transform: translateY(-50px);
    }
    50% {
        transform: translateY(-25px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes bounce {
    0% { top: 0em;}
    40% { top: 0em;}
    43% { top: -0.4em;}
    46% { top: 0em;}
    48% { top: -0.1em;}
    50% { top: 0em;}
    100% { top: 0em;}
}